#calculator-baseplate{
    position: absolute;
    text-align: center;
    background-color: #a13830;
    border-radius: 25px;
    box-shadow: 10px 10px 10px #888888;
    width: 600px;
    height: 700px;
    margin-top: 5vh;
    margin-left: 30vw;
}

#screen{
    position: relative;
    text-align: right;
    border-style: inset;
    border-color: #a13830;
    border-width: 5px;
    background-color: lightgray;
    height: 75px;
    width: 550px;
    font-size: 50px;
}

#logo{
    font-family: 'Dosis', sans-serif;
    border-style: outset;
    border-color: #a13830;
    float: right;
    margin-right: 25px;
}