html{
    margin: 0;
    padding: 0;
}
#calculator-baseplate{
    background-color: black;
    border-radius: 25px;
    box-shadow: 10px 5px 10px #888888;
    width: 600px;
    height: 600px;
    margin-top: 10vh;
    margin-left: 30vw;
}